h1{
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    margin-top: 3rem;
}

h2 {
   color: #8b4367;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
}
p{
    text-align: center;
    color: #4d4545;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
body{
    margin: 0;
    background-color: aquamarine;
}

.matrix{
    text-align: center;
}

.cell{
    background-color: #fff;
    height: 5.5rem;
    width: 5.5rem;
}

.content{
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    text-align: center;
    display: none;
}

button{
    cursor: pointer;
}
